In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sb
from dateutil import tz
import math

In [2]:
df_crowd_source = pd.read_csv('../cleaned_df_crowd_source.csv')

In [3]:
df_stations = pd.read_csv('meta_data/stops_lirr.csv')

In [4]:
df_stations.shape

(124, 8)

In [5]:
# Haversine Formula
def distance(lat1, lon1, lat2, lon2):
    radius = 6371 # km

    dlat = math.radians(lat2-lat1)
    dlon = math.radians(lon2-lon1)
    a = math.sin(dlat/2) * math.sin(dlat/2) + math.cos(math.radians(lat1)) \
        * math.cos(math.radians(lat2)) * math.sin(dlon/2) * math.sin(dlon/2)
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1-a))
    d = radius * c

    return d

In [6]:
i=0
for cs_index, cs_row in df_crowd_source.iterrows():
  if i%10000 == 0:
    print(i)
  i=i+1
  if cs_row['stop_id'] != 90:
    continue
  df_crowd_source.loc[cs_index, 'stop_id'] = -1
  for s_index, s_row in df_stations.iterrows():
    dist = distance(cs_row.latitude, cs_row.longitude, s_row.stop_lat, s_row.stop_lon)
    if dist < 0.6:
      df_crowd_source.loc[cs_index, 'stop_id'] =s_row.stop_id
      break

0
10000
20000
30000
40000
50000
60000
70000
80000
90000
100000
110000
120000
130000
140000
150000
160000
170000
180000
190000
200000
210000
220000
230000
240000
250000
260000
270000
280000
290000
300000
310000
320000
330000
340000
350000
360000
370000
380000
390000
400000
410000
420000
430000
440000
450000
460000
470000
480000
490000
500000
510000
520000
530000
540000
550000
560000
570000
580000
590000
600000
610000
620000
630000
640000
650000
660000
670000
680000
690000
700000
710000
720000
730000
740000
750000
760000
770000
780000
790000
800000
810000
820000
830000
840000
850000
860000
870000
880000
890000
900000
910000
920000
930000
940000
950000
960000
970000
980000
990000
1000000
1010000
1020000
1030000
1040000
1050000
1060000
1070000
1080000
1090000
1100000
1110000
1120000
1130000
1140000
1150000
1160000
1170000
1180000
1190000
1200000
1210000
1220000
1230000
1240000
1250000
1260000
1270000
1280000
1290000
1300000
1310000
1320000
1330000
1340000
1350000
1360000
1370000
1380000
1390000
1400000
1410000
1420000
1430000
1440000
1450000
1460000
1470000
1480000

In [7]:
df_crowd_source.to_csv('fin.csv')

In [10]:
df_crowd_source.head(10)

,Unnamed: 0,userId,_created_at,locationTime,latitude,longitude,horizontalAccuracy,stop_id
0,0,d97ea50e-6dff-40e8-93db-19205a19b976,2019-07-01,8:00:01 PM,40.741217,-73.637016,10.000000,132
1,1,039bd4cd-89e0-415e-9f18-021c0981a52c,2019-07-01,8:00:03 PM,40.798991,-72.865006,10.000000,140
2,2,9036d4d8-5d38-44fc-8f2a-dd7f6f6fd29b,2019-07-01,8:00:04 PM,40.688090,-73.987068,65.000000,-1
3,3,da98e3ee-d225-4b4e-9afe-d5cb8556ec68,2019-07-01,8:00:11 PM,40.742251,-73.634528,276.243586,132
4,4,673c3ad5-5d66-44f9-ac50-0576fc73a214,2019-07-01,7:59:44 PM,40.810567,-73.695411,10.000000,162
5,5,84e878a5-104a-4478-9d21-fa8c75094e81,2019-07-01,8:00:14 PM,40.735512,-73.661278,32.004833,127
6,6,eb481258-4fbf-4823-99a2-e9ddb8f21960,2019-07-01,20:00:14,40.676156,-73.667733,8.834733,142
7,7,673c3ad5-5d66-44f9-ac50-0576fc73a214,2019-07-01,8:00:15 PM,40.813509,-73.694072,10.000000,162
8,8,200cf5eb-727c-408a-a11a-9205d851c3a3,2019-07-01,8:00:23 PM,40.702404,-73.798345,10.000000,-1
9,9,d7145885-2528-4ad7-9417-455021b25839,2019-07-01,8:00:25 PM,40.719428,-73.843926,44.821512,55